# Ignore python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints

# Ignore large data files
*.csv

# Keep the .pkl files if they are small (<100MB), otherwise ignore them:
# *.pkl
